{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Provider Vault - Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="{% static 'js/app.js' %}"></script>
</head>
<body class="login_form_background">
    <div class="login_form_container">
        <form class="login_form_form" method="post" autocomplete="off">
            {% csrf_token %}
            <h1 class="login_form_title">Login</h1>
            <div class="login_form_group">
                <label for="first_name">Email</label>
                <input type="text" id="first_name" name="first_name" class="login_form_input" placeholder="Enter your first name" required />
            </div>
            <div class="login_form_group">
                <label for="password">Password</label>
                <input
                    type="password"
                    id="password"
                    name="password"
                    class="login_form_input"
                    placeholder="Enter password"
                    required
                />
            </div>
            <button onclick="login_user()" id="login_form_button" class="login_form_button">Register</button>
        </form>
    </div>
</body>
</html>
