{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Provider Vault - Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="{% static 'js/app.js' %}"></script>
</head>
<body class="login_form_background">
    <div class="login_form_container">
        <form class="login_form_form" autocomplete="off">
            {% csrf_token %}
            <h1 class="login_form_title">Login</h1>
            <div class="login_form_group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" class="login_form_input" placeholder="Enter your email" required />
            </div>
            <div class="login_form_group">
                <label for="login_password">Password</label>
                <div class="login_form_group_password_input">
                    <input
                        type="password"
                        id="login_password"
                        name="login_password"
                        class="login_form_input"
                        placeholder="Enter password"
                        required
                    />
                    <img
                        id="toggle_login_password"
                        src="{% static 'img/eye.svg' %}"
                        alt="Eye"
                        class="show_password"
                        onclick="show_password_toggle('login_password','toggle_login_password')"
                    >
                    </img>
                </div>
            </div>
            <button type="button" onclick="login_user()" id="login_form_button" class="login_form_button">Login</button>
            <span id="login_form_error" class="login_form_error"> </span>
        </form>
    </div>
</body>
</html>
