{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Provider Vault - Register</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="{% static 'js/app.js' %}"></script>
</head>
<body class="register_form_background">
    <div class="register_form_container">
        <form class="register_form_form" autocomplete="off">
            {% csrf_token %}
            <h1 class="register_form_title">Register Account in Provider Vault</h1>
            <div class="register_form_group">
                <label for="first_name">First Name</label>
                <input type="text" id="first_name" name="first_name" class="register_form_input" placeholder="Enter your first name" required />
            </div>
            <div class="register_form_group">
                <label for="last_name">Last Name</label>
                <input type="text" id="last_name" name="last_name" class="register_form_input" placeholder="Enter your last name" required />
            </div>
            <div class="register_form_group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="register_form_input" placeholder="Enter your email" required />
            </div>
            <div class="register_form_group">
                <label for="register_password">Password</label>
                <div class="register_form_group_password_input">
                    <input
                        type="password"
                        id="register_password"
                        name="password"
                        class="register_form_input"
                        placeholder="Create a password"
                        required
                        hx-post="/check_password/"
                        hx-trigger="input"
                        hx-include="#confirm_password"
                        hx-target="#password_check_msg"
                        hx-swap="innerHTML"
                    />
                    <img
                        id="toggle_register_password"
                        src="{% static 'img/eye.svg' %}"
                        alt="Eye"
                        class="show_password"
                        onclick="show_password_toggle('register_password','toggle_register_password')"
                    >
                    </img>
                </div>
                <span id="password_check_msg" class="register_form_error"></span>
                <ul id="password_suggestions" class="register_form_suggestions">
                    <li>At least 8 characters</li>
                    <li>Contains uppercase and lowercase letters</li>
                    <li>Includes at least one number</li>
                    <li>Includes at least one special character (!@#$%^&amp;*)</li>
                </ul>
            </div>
            <div class="register_form_group">
                <label for="confirm_password">Confirm Password</label>
                <div class="register_form_group_password_input">
                    <input
                        type="password"
                        id="confirm_password"
                        name="confirm_password"
                        class="register_form_input"
                        placeholder="Confirm your password"
                        required
                        hx-post="/check_match/"
                        hx-trigger="input, keyup from:#password"
                        hx-include="#password"
                        hx-target="#password_match_msg"
                        hx-swap="innerHTML"
                    />
                    <img
                        id="toggle_confirm_password"
                        src="{% static 'img/eye.svg' %}"
                        alt="Eye"
                        class="show_password"
                        onclick="show_password_toggle('confirm_password','toggle_confirm_password')"
                    >
                    </img>
                </div>
                <span id="password_match_msg" class="register_form_error"></span>
            </div>
            <button type="button" onclick="register_user()" id="register_form_button" class="register_form_button">Register</button>
        </form>
    </div>
</body>
</html>
